#nav {
	width: 100%;
	margin-bottom: -4px;
}

#photo-wheel {
	margin-left:-20px;
	padding-top: 55px;
}

#header-map {
	display: flex;
	margin-top: -100px;
}


#lowerbody {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 30px;
}

#sb-app {
  border: 2px;
  border-color: white;
  background-color: white;
}

#grey {
  width: 100%;
  position: absolute;
  background-color: rgb(245,245,245);
  height: 418px;
  border-bottom: 1px solid rgb(220,220,220); 
  z-index: -2;
}

body {
margin: 0;
}